body {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-image: linear-gradient(-45deg,#0c1026,#0c1026);
  font-family: 'Catamaran', sans-serif;
  transition: 8s;
}

#font{
  opacity: 0.7;
}

.center_box {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.white_box{
  transition: 2s;
}
.login_box{
  overflow: hidden;
  width:350px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 0px 16px rgba(0,0,0,0.2);
}
.logo{
  filter: blur(0px);
  margin: auto;
  text-align: center;
  height:220px;
  line-height: 220px;
  text-shadow: 5px 3px 0px orangered;
  color: black;
  font-family: 'Catamaran', sans-serif;
  font-weight: 900;
  font-style: italic;
  font-size: 4em;
  letter-spacing: -6px;
  transform: translateX(-10px);
}
.connecting_data{
  position: relative;
  width: auto;
  height: auto;
}

.connection_data, #connect{
  display: block;
  margin: auto;
  font-size:1.8em;
  color: gray;
  font-weight: 600;
  line-height: 18px;
  text-align: center;
  width:auto;
  border-radius: 5px;
  margin-bottom: 30px;
}
.connection_data, .message{
  display: block;
  margin: auto;
  line-height: 18px;
  width: 60%;
  padding:7px 12px 5px 12px;
  border-radius: 5px;
}
.connection_data, .error{
  background-color: #ffcccc;
  color: red;
}
.connection_data, .accurate{
  background-color: #B5EAAA;
  color: #387C44;
}

.input_text:-webkit-autofill,
.input_text:-webkit-autofill:hover,
.input_text:-webkit-autofill:focus {
  box-shadow: 0 0 0px 1000px white inset;
}
.input_text:focus {
    outline:none;
    border-color: rgba(90,140,230,1);
    box-shadow: 0px 0px 5px rgba(90,140,230,1);
    background-color: rgba(100,169,255,0.08);
}

.input_text_box{
  position: relative;
  height: auto;
  margin-top: 10px;
}
.input_text {
  box-shadow: inset 0px 1px 2px rgba(0,0,0,0.08);
  font-family: 'Catamaran', sans-serif;
  font-weight: 400;
  width: 70%;
  font-size: 1.2em;
  color: #444;
  display: block;
  background-color: white;
  margin: auto;
  padding: 8px 14px 6px 15px;
  border-radius: 0px 0px 5px 5px;
  border: 1px #c6c6c6 solid;
  transition: 0.4s;
}
.input_text::placeholder {
  letter-spacing: 0px;
  color: rgba(0,0,0,0.30);
  font-family: 'Catamaran', sans-serif;
  font-weight: 400;
}
.input_text_box .pseudo{
  border-radius: 5px 5px 0px 0px;
  border-bottom: 0px;
}

.form_connect label{
  font-size: .8em;
  font-weight: 400;
  margin-left: 175px;
  line-height: 35px;
  color:gray;
}
.input-keep-connection{
  display: inline;
  line-height: 35px;
  vertical-align: middle;
  text-align: right;
}

.login:focus{
}
.login:hover{
  width: 79%;
  transform: translateY(1px);
}
.login {
  font-family: 'Catamaran', sans-serif;
  font-weight: 900;
  font-style: italic;
  font-size: 1.3em;
  color: white;
  background-color: white;
  display: block;
  margin: auto;
  margin-bottom: 15px;
  height: 45px;
  width: 80%;
  background-color: steelblue;
  border: 2px steelblue solid;
  border-radius: 3px;
  transition: 0.2s;
}

.registe_info{
  overflow: hidden;
}
.register_box{
  box-shadow: 0px 0px 16px rgba(0,0,0,0.2);
  position: relative;
  margin-top:12px;
  width: 350px;
  height: auto;
  background-color: white;
  border-radius: 4px;
  animation-duration: 1.4s;
  padding-bottom:10px;
  overflow: hidden;
}
.in_rbox{
  overflow: hidden;
}
.back_login{
  background-color: gainsboro;
  color: darkgray;
  width:360px;
  padding: 4px 0px 2px 15px;
  transition: 0.15s;
  margin-bottom: 20px;
}
.back_login:hover{
  color: gray;
  cursor: pointer;
  font-style: oblique;
}
#rmessages{
  margin-bottom: 10px;
}
.in_rbox .r{
  margin:auto;
  margin-bottom: 10px;
  border-radius: 5px;
}
#registe_email{
}
.memo{
  margin: auto;
  margin-bottom:8px;
  margin-top:5px;
  line-height: 14px;
  font-weight: 400;
  font-size: 0.8em;
  width: 72%;
}

.registe{
  display: block;
  font-family: 'Catamaran', sans-serif;
  font-weight: 900;
  font-size: 1.3em;
  color: white;
  background-color: mediumseagreen;
  padding: 12px 20px 12px 10px;
  display: block;
  margin: auto;
  margin-bottom: 15px;
  height: auto;
  width: 80%;
  border: 0px;
  border-radius: 3px;
  transition: 0.2s;
  line-height: 22px;
}
.registe:focus{
  outline: none;
}
.registe:hover{
  width: 78%;
  transform: translateY(1px);
}

#welcome_text{
  padding: 20px 25px 20px 25px;
}
button{
  display: block;
  font-family: 'Catamaran', sans-serif;
  font-weight: 900;
  font-size: 1.3em;
  color: white;
  background-color: red;
  padding: 12px 20px 12px 10px;
  display: block;
  margin: auto;
  margin-bottom: 5px;
  height: auto;
  width: 80%;
  border: 0px;
  border-radius: 3px;
  transition: 0.2s;
  line-height: 22px;
}
button:focus{
  outline: none;
}
button:hover{
  width: 78%;
  transform: translateY(1px);
}

#icon_quade{
  position: absolute;
  right: 16px;
  width: 40px;
  bottom:18px;
  transition: 3s;
}
#icon_quade:hover{
  transform: scale(1.1) rotate(540deg);
}
.icon_basicShoot{
  width: 35px;
  height: 35px;
  margin-left:10px;
  position: absolute;
  top: -15px;
  left:6px;
  transition: 0.5s;
  animation-duration: 1.6s;
  animation-direction: normal;
  animation-play-state: paused;
}
.icon_basicShoot:hover{
  animation-play-state: running;
}
#icon_basic{
  position: absolute;
  z-index: 1;
  left: 0px;
  width: 35px;
}
#icon_bullet{
  position: absolute;
  z-index: 0;
  width: 12px;
  animation-name: bullet_movement;
  animation-duration: inherit;
  animation-direction: inherit;
  animation-iteration-count: infinite;
  animation-play-state: inherit;
  animation-timing-function: linear;
}

/*ANIMATION*/
@keyframes bullet_movement {
  0% {
    opacity: 1;
    transform: translate(2.5px,3.5px);
  }
  70%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    transform: translate(-40px,-32px);
  }
}
